@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  @font-face {
    font-family: "TT Firs Neue Regular";
    src: url("../fonts/TT-Firs-Neue-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "TT Firs Neue Medium";
    src: url("../fonts/TT-Firs-Neue-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "TT Firs Neue Demibold";
    src: url("../fonts/TT-Firs-Neue-DemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  .font-rg {
    font-family: "TT Firs Neue Regular", sans-serif;
  }
  .font-md {
    font-family: "TT Firs Neue Medium", sans-serif;
  }
  .font-db {
    font-family: "TT Firs Neue Demibold", sans-serif;
  }
}

/* Body */
.body-md {
  @apply font-rg text-black;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1%;
}
.body-lg,
p {
  @apply font-rg text-black;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1%;
}
/* Heading */
.h1 {
  @apply font-md text-black;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: 0%;
}
.h4 {
  @apply font-db text-black;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: -2%;
}
.h6 {
  @apply font-db text-black;
  font-size: 21px;
  line-height: 32px;
  letter-spacing: 0%;
}
/* Label */
.lab-xxs {
  @apply font-md text-black;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1%;
}
.lab-xs {
  @apply font-md text-black;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1%;
}
.lab-sm {
  @apply font-md text-black;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1%;
}
.lab-md {
  @apply font-db text-black;
  font-size: 21px;
  line-height: 32px;
  letter-spacing: 0%;
}
.lab-lg {
  @apply font-md text-black;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -2%;
}
.lab-xl {
  @apply font-md text-black;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 1%;
}
.lab-xxl {
  @apply font-md text-black;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: -2%;
}
/* Caption */
.cap-sm {
  @apply font-rg text-black;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1%;
}
.cap-md {
  @apply font-rg text-black;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 1%;
}

body {
  @apply pb-10;
}

html {
  scroll-behavior: smooth;
}
